#app
{
  font:14px, 'Helvetica Neue', Helvetica,Arial,sans-serif;
  color: #4d4d4d;
  margin:0 auto;
}
.div-main
{
  width:80%;
  margin:0px;
  float:left;
}
.div-center
{
  text-align:center;
  padding: 3px;
}
.div-row
{
  margin: 5px;
  display:flex;
  flex-Direction:row;
}
.but-center
{
  margin:0 auto;
}
.linkLabel
{
  color:#0000ff;
  text-decoration:underline;
  cursor:pointer;
  margin:0 auto;
}
.container-fluid{
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
img
{
 float:left;
 height: 40px;
 width:40px;
 padding:5px 5px
}
ul
{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #446797;
  /*#4682B4;*/
}
li
{
  float: left;
  padding: 12px 14px;
  text-align: center;
  text-decoration: none;
  display:block;
  color: white;
}
a{
  color:#FFF;
}
a:hover
{
  color: orange;
}
.error
{
  color: red;
  padding:5px;
}
.txtStyle
{
  margin-Left: 20px;
  width: 250px;
}
legend
{
  color:blue;
}
.table-style
{
  margin-top: 10px;
  overflow-x: auto;
  width:100%;
  display:block;
}
